{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
{#                    {% set voter_decision_edit = access_decision('PRODUCT_EDIT', product) %}#}
{#                    {% if voter_decision_edit.isGranted() %} syntaxe symfony 7.4#}
                    {% if is_granted('PRODUCT_EDIT', product) %}
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex">
        <a href="{{ path('app_product_export') }}" class="inline-flex border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed text-sm rounded-md py-2 px-4 shadow-sm hover:shadow-md bg-slate-800 border-slate-800 text-slate-50 hover:bg-slate-700 hover:border-slate-700">
            Exporter en CSV
        </a>
    </div>

    {% if is_granted('PRODUCT_CREATE') %}
        <a href="{{ path('app_product_formflow') }}">Create new</a>
    {% endif %}
{% endblock %}
